.navbar {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-radius: 0px;
}

#logo {
    margin-left: 14em;
    height: 25px;
    width: 24px;
}

.nav-link {
    margin-right: 12px;
    margin-left: 5px;
}

.left-nav:hover {
    color: #1DA1F3;
    cursor: pointer;   
}

#nav-data {
    margin-top: 1em;
    padding-left: 0;
}

.navbar-form {
    margin-top: 0;
    border-radius: 8px;
    padding-right: 0;
}
