#profile-card {
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1.5em;
  background-color: white;
  height: 250px;
  width: 100%;
}

#profile-background-image {
height: 100px;
width: 100%;
border: 1px solid white;
border-radius: 8px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

#profile-avatar {
  border-radius: 8px;
  height: 72px;
  width: 72px;
  margin-left: 0.5em;
}

#user-name {
  font-size: 19px;
  margin-left: 5px;
  position: absolute;
  margin-top: 1em;
}

#user-handle {
  margin-left: 5px;
  position: absolute;
}

.details {
  width: 100%;
}

.profile-tweets{
    float: left;
  margin: 0.5rem;
  font-size: 10px;
  margin-left: 1em;
  position: relative;
  text-align: center;
}

.profile-tweets:hover {
    color: #1DA1F3;
    cursor: pointer;
}

.profile-following {
  float: left; 
  margin: 0.5em;
  font-size: 10px;
  position: relative;
  text-align: center;
}

.profile-following:hover {
    color: #1DA1F3;
    cursor: pointer;
}

.profile-followers {
  float: left;
  margin: 0.5em;
  font-size: 10px;
  position: relative;
  text-align: center;
}

.profile-followers:hover {
    color: #1DA1F3;    
    cursor: pointer;
}

.profile-tweets-number {
  font-size: 20px;
  color: #1DA1F3;
}

.profile-followers-number {
  font-size: 20px; 
  color: #1DA1F3;
}

.profile-following-number {
  font-size: 20px; 
  color: #1DA1F3;
}

