#profile-card {
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1.5em;
  background-color: white;
  height: 250px;
  width: 290px;
}

#profile-background-image {
height: 100px;
width: 100%;
border: 1px solid white;
border-radius: 8px;
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;
}

#profile-avatar {
  border-radius: 8px;
  height: 72px;
  width: 72px;
  margin-left: 0.5em;
}

.user-details {
  float: right;
  margin-right: 6em;
}

#user-name {
  font-size: 19px;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}

#user-handle {
  display: block;
  margin-left: 5px;
}

.profile-tweets{
  float: left;
  margin: 0.5em;
  font-size: 10px;
  margin-left: 1em;
}

.profile-tweets:hover {
    color: #1DA1F3;
    cursor: pointer;
}

.profile-following {
  float: left; 
  margin: 0.5em;
  font-size: 10px;
}

.profile-following:hover {
    color: #1DA1F3;
    cursor: pointer;
}

.profile-followers {
  float: left;
  margin: 0.5em;
  font-size: 10px;
}

.profile-followers:hover {
    color: #1DA1F3;    
    cursor: pointer;
}

.profile-tweets-number {
  font-size: 20px;
  color: #1DA1F3;
}

.profile-followers-number {
  font-size: 20px; 
  color: #1DA1F3;
}

.profile-following-number {
  font-size: 20px; 
  color: #1DA1F3;
}

