#trends-feed {
  border-radius: 6px;
  background-color: white;
  width: 288px;
}

.trend-header {
  margin-left: 1em; 
  padding-top: 15px;
}

#trend {
  font: #949799;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.trend-title {
  color: #0084B4;
}

