#trends-feed {
  border-radius: 6px;
  background-color: white;
  margin-left: 12em;
  width: 288px;
}

h4 {
  margin-left: 1em; 
}

#trend {
  font: #949799;
  margin-left: 1em;
}

.trend-title {
  color: #0084B4;
}
