#tweet {
  border: 1px solid lightgray;
  margin-bottom: 0.5em;
  width: 100%;
}

.tweet-content {
  margin-right: 1em;
  margin-left: 1em;
  text-align: left;
}

.user-avatar {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 1em;
}

.tweet-icons {
  margin-left: 2em;
}

.glyphicon-share-alt {
  margin-left: 3em;
  margin-right: 1em
}

.glyphicon-retweet {
  margin-left: 3em;
  margin-right: 0.5em
}

.glyphicon-heart {
  margin-left: 3em; 
  margin-right: 0.5em
}