#wtf-table {
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  height: 550px;
  width: 100%;
}

#wtf-title {
  margin-left: 1em; 
}

#profile-pic {
  border-radius: 8px;
  height: 72px;
  width: 72px;
  margin-left: 1em;
  margin-top: 12px;
}

#user-handle {
  margin-top: 10px;
  margin-left: 10px;
}

#user-name {
  margin-left: 10px;
  font-size: 20px;
  padding-top: 5px;
}

#follow-button {
  margin-top: 5px;
  margin-right: 1em;
  border-radius: 8px;
  margin-left: 1.8em;
}